################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs
/Solution4Original/.vs/Solution4Original/v15
/Solution4FrontEnd/.vs/Solution4FrontEnd/v15
/Solution4FrontEnd/.vs/Solution4FrontEnd/v15
/Solution4FrontEnd/.vs/Solution4FrontEnd/v15/.suo
/Solution4FrontEnd/.vs/Solution4FrontEnd/v15/Server/sqlite3
